<div class="container centrar">
    <div id="myInfoContainer" class="fadeIn">
        <img src="/assets/img/yo5.webp" alt="Marcos Villegas">
        <div class="info">
            <h1>Marcos Villegas</h1>
            <h2>Desarrollador Front-End</h2>
            <p>Tengo gran pasión por todo lo que desarrollo y muchas ganas de 
                aprender para seguir perfeccionandome como profesional. 
            </p>
            <p>
                Mi objetivo a corto plazo es perfeccionarme en Angular y luego aprender en ReactJs.
            </p>
            <p class="w-50">Mi objetivo a largo plazo es aprender Back-End y desarrollo mobile, además obtener la experiencia
                necesaria para liderar proyectos.
            </p>
        </div>
    </div>
</div>
