<app-navbar></app-navbar>

<div class="snap-container">
  <section id="profile" class="snap-section">
    <app-profile [animation]='(animationProfile)'></app-profile>
  </section>

  <section id="aboutMe" class="snap-section">
    <app-about-me [animation]='(animationAboutMe)'></app-about-me>
  </section>

  <section id="projects" class="snap-section">
    <app-projects></app-projects>
  </section>

  <section id="contact" class="snap-section">
    <app-contact></app-contact>
  </section>
</div>
